.shop-container {
  text-align: center;

  .shop-banner {
    background-image: url('../../assets/shop.jpeg');
    background-size: cover;
    background-position: center;
    padding: 2rem 1rem;
    position: relative;
    height: 316px;

    h1 {
      margin: 0;
      font-size: 2.5rem;
      color: black;
      margin-top: 5.5rem;
    }

    h2 {
      margin: 0;
      font-size: 1.5rem;
      color: black;
      margin-top: 1rem;
    }
  }
}


.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #F9F1E7;

  .filter-section,
  .results-section,
  .show-items,
  .pagination-section {
    display: flex;
    align-items: center;
  }

  .filter-button,
  .filter-options-button,
  .sort-by-button,
  .default-button {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    margin: 0 0.5rem;
  }

  .vertical-line {
    border-left: 2px solid black;
    /* Adjust color and width as needed */
    width: 20px;
    height: 100%;
    /* Ensure the line matches the container's height */
    margin: 0 1rem;
    /* Add margin for spacing */
  }

  .item-count {
    height: 2rem;
    width: 2rem;
    background-color: #fff;
  }


}



.promise {
  height: auto; 
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly; 
  align-items: center;
  padding: 1rem;
  background-color: #F9F1E7;

  .quality {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem; 

    img {
      margin-bottom: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .promise {
    padding: 0.5rem;
  }
}



.Products {
  margin-top: 4rem;
  margin-left: 6rem;
  margin-right: 6rem;
  height: auto;

  .card {
    width: 28rem;
    background-color: #F4F5F7;
  }

  .showmorebtn {
    margin-top: 2rem;
    height: 4rem;
    width: 15rem;
    background: none;
    border-color: #B88E2F;
    color: #B88E2F;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .shop-container {
    .shop-controls {
      flex-direction: column;

      .fliters,
      .results-info,
      .controls {
        margin-bottom: 1rem;
      }
    }
  }

  .promise{
    
  }


}